{% extends 'base.html' %}

{% block title %}My Settings{% endblock %}

{% block content %}
    <h1>{{ g.user['username'] }}</h1>
    <ul>
        <li><a href="{{ url_for('tasks.index') }}">Main Page</a></li>
        <li><a href="{{ url_for('auth.logout') }}">Logout</a></li>
    </ul>
    <div>
        <button data-bs-toggle="collapse" data-bs-target="#changeusername">Change Username</button>
        <div id="changeusername" class="collapse">
            <h4>Change Username</h4>
        </div>
    </div>
    <div>
        <button data-bs-toggle="collapse" data-bs-target="#changepassword">Change Password</button>
        <div id="changepassword" class="collapse">
            <form method="POST" action="">
                {{ password.csrf_token }}
                {{ password.old_password.label }} {{ password.old_password }}
                {{ password.new_password.label }} {{ password.new_password }}
                {{ password.confirm.label }} {{ password.confirm }}
                <input type="submit" value="Submit">
            </form>
        </div>
    </div>
    <div>
        <button data-bs-toggle="collapse" data-bs-target="#deletetasks">Delete All Tasks</button>
        <div id="deletetasks" class="collapse">
            <a href="{{ url_for('auth.del_tasks') }}">Delete All Tasks</a>
        </div>
    </div>
    <div>
        <button data-bs-toggle="collapse" data-bs-target="#deleteaccount">Delete Account</button>
        <div id="deleteaccount" class="collapse">
            <a href="{{ url_for('auth.del_account') }}">Delete Account</a>
        </div>
    </div>
{% endblock %}